<h1>New Remix</h1>
<form class="" action="/remixes" method="post">
  <div class="">
    <label>Dance Title</label>
    <input type="text" name="title" placeholder="Insert Dance">
  </div>
  <div class="">
    <label>Youtube Link</label>
    <input type="text" name="body" placeholder="New Link">
  </div>
  <div class="">
    <input type="submit" value="Save Remix">
  </div>

</form>
